*{
    font-family: Helvetica, sans-serif;
    color: rgb(75, 75, 75);
  }
  /* body {
    margin: 0;
    padding: 0;
    background-image: url('image.jpg'); 
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  } */
  /* Basic styles for the chatbot container */
  .chatbot-container {
    position: fixed;
    bottom: 2em;
    right: 3em;
    width: 300px;
    /* border: 1px solid #ccc; */
    border-radius: 14px 14px 0px 0px;
    background-color: #F4F5F9;
    box-shadow: -5px 5px 10px  rgba(104, 104, 104, 0.507);
  }
  
  .chatbot-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
  }
  
  /* Adjust the size of the icon as needed */
  .chatbot-icon img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.253) */
  }

  .chatbot-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border-bottom: 1px solid #eeeeee;
    background-color: #161f3d;
    border-radius: 10px 10px 0px 0px;
    box-shadow: inset 0 0 10px 2px rgba(255, 255, 255, 0.2);
  }
  
  .chatbot-body {
    padding: 10px;
    min-height: 15em;
  
  }
  
  .chatbot-messages {
    padding-top: 15em;
    max-height:200px;
    overflow-y: auto;
    padding-bottom: 10px;
   /* background-color: aqua; */
  }
  
  #user-input {
    width: calc(100% - 80px);
    height: 30px;
    margin-right: 10px;
    border: none;
    border-radius: 10px;
    
  }
  
  span{
    font-family:Helvetica, sans-serif;
    color: rgb(255, 255, 255);
  }
  .close-btn{
  padding-right: 1em;
  
  }
  
  .arrow {
    border: solid rgb(255, 255, 255);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  
  button{
  height: 2.5em;
  width: 4.5em;
  background-color:#161f3d;
  border-radius: 10px;
  box-shadow:none;
  color: #eeeeee;
  padding: 4px 10px;
  border: none;
  box-shadow: inset 0 0 10px 2px rgba(255, 255, 255, 0.2);
  }
  
  ::placeholder{
    padding-left: 5px;
    border: none;
  }
  button:active{
    background-color: #016FB9;
    box-shadow: inset 0 0 10px 2px rgba(87, 87, 87, 0.5);;
  }
  .message{
    padding: 10px;
    background-color:#a7d8e9;
    max-width: 10em;
    width: fit-content;
    border-radius: 10px;
    margin: 0.5em;
    margin-left: auto;
    text-align: right;
  }
  .response {
    padding: 10px;
    background-color: #e9e9e9; /* Different background color for response */
    max-width: 10em;
    width: fit-content;
    border-radius: 10px;
    margin: 0.5em;
    text-align: left; /* Align text to the left */
    margin-right: auto;
  }
  .login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .login-box {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
  }

  .chatbot-container.closed {
    display: none;
  }

  .chatbot-image.open{
    display:block;
  }
  .chatbot-image.closed{
    display:none;
  }